body{
    font-family: 'Bebas Neue', cursive;
}

#carouselPictures{
    width: 75vw;
    padding: 0px;
    border: solid 2px purple;
    margin: auto;
}

a:hover{
    color: purple !important; 
}
nav{
    border-bottom: solid 0.3vh purple;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 7vh;
}

#refbody{
    background-repeat: no-repeat;
    background-size: cover;
}