body{
    font-family: 'Press Start 2P', cursive;
}

#carouselPictures{
    width: 75vw;
    border: 0px;
    padding: 0px;
    margin: auto;
    border: solid 2px purple;
}

a:hover{
    color: purple !important; 
}
nav{
    border-bottom: solid 2px purple;
}
