body{
    font-family: 'Bebas Neue', cursive;
    color: white;
}
@media only screen and (max-width: calc(height/9*16)) {
    body {
        background-image: none;
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
    }
    }
a:hover{
    color: purple !important; 
}
nav{
    border-bottom: solid 0.3vh purple;
    margin-bottom: 2.5vh;
    font-family: 'Press Start 2P', cursive;
}
::-webkit-scrollbar-button{
    background-color: aquamarine;
}
body{
    background-image: url(https://media.giphy.com/media/xbAJcyzufQcHm/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}