body{
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-image: url(https://media.giphy.com/media/DXgwixqfdZKmtB1jWf/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover{
    color: purple !important; 
}
nav{
    border-bottom: solid 0.3vh purple;
    margin-bottom: 2.5vh;
    font-family: 'Press Start 2P', cursive;
}

::-webkit-scrollbar-button{
    background-color: aquamarine;
}

