body {
	font-family: 'Bebas Neue', cursive;
	color: white;
}

a:hover {
	color: purple !important;
}

nav {
	border-bottom: solid 0.3vh purple;
	margin-bottom: 2.5vh;
	font-family: 'Bebas Neue', cursive;
}

::-webkit-scrollbar-button {
	background-color: aquamarine;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: linear-gradient(to bottom, #000000, #791e94);
}

#nyersdiv {
	padding: 10px;
	text-align: justify;
	font-size: 18pt;
}

h3 {
	text-decoration: underline;
	color: aqua;
}

h2 {
	text-decoration: underline;
	color: aqua;
}

p {
	color: pink;
}

ul {
	color: palevioletred;
}

#lapoz {
	font-size: 16pt;
	color: red;
}

.forint {
	color: firebrick;
}

h1 {
	color: magenta;
}

#alapcim {
	margin: auto;
}
/* width */
::-webkit-scrollbar {
	width: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px black;
	background: #404040;
	height: 100vh;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #bdbdbd;
	border-radius: 10px;
  }
::-webkit-scrollbar-button{
	background: #404040;
	box-shadow: inset 0 0 5px black;
}