body{
    font-family: 'Bebas Neue', cursive;
}

a:hover{
    color: purple !important; 
}
nav{
    border-bottom: solid 0.3vh purple;
    margin-bottom: 2.5vh;
    font-family: 'Press Start 2P', cursive;
}
::-webkit-scrollbar-button{
    background-color: aquamarine;
}
