body{
    font-family: 'Bebas Neue', cursive;
    color: white;
}
a:hover{
    color: purple !important; 
}
nav{
    border-bottom: solid 0.3vh purple;
    margin-bottom: 2.5vh;
    font-family: 'Press Start 2P', cursive;
}
::-webkit-scrollbar-button{
    background-color: aquamarine;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #000000, #6d00ff);
}

#arazasbody{
    padding: 10px;
    text-align: justify;
    font-size: 16pt;
}

h3{
    text-decoration: underline;
}